* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Moalang";
  src: url(../font/SwistblnkMoalangMelintang.woff) format("woff"),
    url(../font/SwistblnkMoalangMelintang.woff2) format("woff2");
}

:root {
  --red-foncé: #6e0002;
  --red: #a90000;
  --red-clair: #d62326;
  --red-très-clair: #ffbebe;
  --red-très-très-clair: #ffdddd;
  --or-foncé: #aa9569;
  --or: #c7b48b;
  --or-clair: #e7decb;
  --or-très-clair: #f4eddf;
  --black: #000000;
  --grey: #737373;
  --white: #ffffff;
}

@import "bootstrap/scss/bootstrap-grid";

.logo {
  width: 142px;
  height: 36px;
}

.menu-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 135px;
  margin-top: 78px;
  align-items: center;
}

.sections {
  color: var(--white);
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 20px;
  font-weight: 400;
  width: 110px;
}

.background-header {
  background-image: url(../img/background-header.jpg);
  height: 100%;
  background-size: cover;
}

.titre-principal {
  color: var(--couleur-white, #fff);
  text-align: center;
  font-family: "Swistblnk Moalang Melintang";
  font-size: 78px;
  font-weight: 400;
}

.texte-principal {
  color: var(--couleur-white, #fff);
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 20px;
  font-weight: 400;
}

.header-content {
  margin-top: 145px;
  display: flex;
  flex-direction: column;
}

.sous-sections {
  color: var(--white);
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 16px;
  font-weight: 400;
}

.sous-header {
  margin-top: 35px;
}

.sous-header-sections {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.line {
  width: 738px;
  height: 0.8px;
  background-color: var(--white);
  margin: auto;
  margin-bottom: 12px;
}

.CTA {
  background-color: var(--red);
  display: flex;
  width: 171px;
  padding: 10px 15px;
  justify-content: center;
  gap: 10px;
  color: var(--couleur-white, #fff);
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 24px;
  font-weight: 400;
  border: none;
  margin: auto;
  margin-top: 94px;
  margin-bottom: 193px;
}

.titre-articles {
  color: var(--red);
  font-family: "Swistblnk Moalang Melintang";
  font-size: 96px;
  font-weight: 400;
  line-height: 117px;
  margin-top: 76px;
}

.trait-2 {
  width: 100%;
  height: 0.6px;
  background-color: var(--red-foncé);
}

.image-article-1 {
  width: 100%;
}

.articles {
  margin-top: 48px;
  margin-bottom: 175px;
}

.nom-vin {
  color: var(--red);
  font-family: "Swistblnk Moalang Melintang";
  font-size: 60px;
  font-weight: 400;
}

.texte-vin {
  font-family: "Faculty Glyphic";
  font-size: 18px;
  font-weight: 400;
}

.button-vers-vin {
  display: flex;
  width: 171px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--couleur-red, #a90000);
  color: var(--couleur-red, #a90000);
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 24px;
  font-weight: 400;
  background-color: var(--white);
}

.article-texte {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.rouge {
  text-align: right;
  margin-left: auto;
}

.image-article-2 {
  width: 100%;
}

.article-2-texte {
  margin-bottom: 14px;
}

.vin-rouge {
  margin-left: auto;
  margin-bottom: 14px;
}

.image-philosophie {
  width: 100%;
}
