* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@font-face {
  font-family: "Moalang";
  src: url(../font/SwistblnkMoalangMelintang.woff) format("woff"),
    url(../font/SwistblnkMoalangMelintang.woff2) format("woff2");
}

:root {
  --red-foncé: #6e0002;
  --red: #a90000;
  --red-clair: #d62326;
  --red-très-clair: #ffbebe;
  --red-très-très-clair: #ffdddd;
  --or-foncé: #aa9569;
  --or: #c7b48b;
  --or-clair: #e7decb;
  --or-très-clair: #f4eddf;
  --black: #000000;
  --grey: #737373;
  --white: #ffffff;
}

@import "bootstrap/scss/bootstrap-grid";

.logo {
  width: 142px;
  height: 36px;
}

.menu-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 135px;
  margin-top: 78px;
  align-items: center;
}

.sections {
  color: var(--white);
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 20px;
  font-weight: 400;
  width: 110px;
}

.background-header {
  background-image: url(../img/background-header.jpg);
  height: calc(100vw / 16 * 9);
  background-size: cover;
}

.titre-principal {
  color: var(--couleur-white, #fff);
  text-align: center;
  font-family: "Swistblnk Moalang Melintang";
  font-size: 78px;
  font-weight: 400;
}

.texte-principal {
  color: var(--couleur-white, #fff);
  text-align: center;
  font-family: "Faculty Glyphic";
  font-size: 20px;
  font-weight: 400;
}

.header-content {
  margin-top: 145px;
}
